.template-board {
	background: transparent;
	margin-top: 40px;
	width: 860px;
	padding-left: 64px;
	padding-right: 24px; 
}
.common-template-board {
	background: transparent;
	margin-top: 40px;
	width: 0 !important;
flex: 1 1 100%;
	padding-left: 64px;
	padding-right: 24px;
}
.top-bar {
	margin-top: 14px !important;
	padding-right: 230px;
	margin-top: -8px;
	margin-left: -32px;
	justify-content: space-between;
	align-items: center;
	display: flex;
}
.title-ul a {
	font-size: 14px !important;
	color: black;
	line-height: 20px;
	font-weight: 400;
	padding: unset !important;
}
.title-ul a:hover {
	text-decoration: underline !important;
}
.title-ul a:hover .title-ul a::after {
	text-decoration: none !important;
}
.title-ul {
	padding-bottom: 32px !important;
	padding-left: 32px !important;
	list-style: none;
	margin: 0;
	padding: 0;
}
.title-ul li {
	float: left;
}
.after-li::after {
	padding-left: 8px;
	color: #dfe1e6;
	content: "/";
}
.template-search-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 32px;
}
.feed-underline {
	text-decoration: underline !important;
	font-size: 12px ! important;
	line-height: 16px;
	display: block;
	text-align: center;
	color: #5e6c84;
	margin-top: 0;
	margin-left: 8px;
	margin-right: 10px;
	padding: unset !important;
}
.template-search {
	position: relative;
	max-width: 240px;
	border: 1px solid #dfe1e6;
	height: 32px;
	min-width: 240px;
	border-radius: 3px !important;
	padding: 0 8px;
	cursor: default;
	display: flex;
	flex-wrap: wrap;
	-moz-box-pack: justify;
	justify-content: space-between;
	min-height: 38px;
	outline: currentcolor none 0px !important;
	position: relative;
	transition: all 100ms ease 0s;
	box-sizing: border-box;
	-moz-box-align: center;
	align-items: center;
	background-color: rgb(255, 255, 255);
}
.search-input {
	border: none;
	font-size: 14px !important;
	-moz-box-align: center;
	align-items: center;
	display: flex;
	flex: 1 1 0%;
	flex-wrap: wrap;
	padding: 2px 8px;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
}
.template-search-icon {
	font-size: 16px !important;
	height: 32px;
	line-height: 32px;
	width: 32px;
	color: #42526e;
	position: relative;
}
.template-search-icon::before {
	position: absolute;
	top: 8px;
	left: 10px;
}
.template-header {
	display: flex;
	align-items: center;
	margin-bottom: 6px;
}
.template-header h1 {
	font-size: 20px !important;
	font-weight: 600;
	line-height: 24px;
	color: #172b4d;
	margin-bottom: 0;
}
.title-img {
	background-image: url("https://a.trellocdn.com/prgb/dist/images/templates/category-sprite@2x.56e6839e477d82529dad.png");
	background-size: 293px 1352px;
	display: inline-block;
	height: 48px;
	width: 48px;
	min-width: 48px;
	margin-right: 12px;
	border-radius: 3px;
}
.template-Main-body {
	display: flex;
	flex-wrap: wrap;
	margin-top: 31px;
	max-width: 912px;
	width: 100%;
	justify-content: flex-start;
}
.template-card {
	height: 269px;
	width: 260px;
	min-width: 260px;
	margin-bottom: 24px;
	margin-right: 22px;
	position: relative;
}
.link-card {
	display: block;
	height: 269px;
	width: 260px;
	cursor: pointer;
	text-decoration: none;
	padding: unset !important;
}
.link-card-img {
	background-size: cover;
	background-position: center center;
	height: 132px;
	border-radius: 3px;
	position: relative;
	width: auto;
	cursor: pointer;
}
.link-card-title {
	position: relative;
	margin-top: -36px;
	padding-left: 12px;
	padding-bottom: 12px;
	padding-right: 12px;
	cursor: pointer;
}
.link-card-avatar {
	height: 48px;
	width: 48px;
	line-height: 48px;
	border-radius: 100%;
	background-color: #fff;
	border: 3px solid #fff;
	box-shadow: 0 1px 1px rgba(9,45,66,.25);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.link-card-title h2 {
	margin-top: 12px;
	font-size: 14px;
	line-height: 20px;
	color: #172b4d;
	font-weight: 700;
	margin-bottom: 0;
}
.template-auth {
	font-size: 12px !important;
	line-height: 20px;
	color: #6b778c;
	margin-bottom: 0;
}
.template-about {
	color: black;
	font-size: 12px !important;
	overflow: hidden;
	line-height: 20px;
	text-overflow: ellipsis;
	-moz-box-orient: vertical;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	height: 40px;
	margin-bottom: 0;
}
.opacity-div {
	opacity: 0;
	width: 100%;
	height: 132px;
	border-radius: 3px;
	position: absolute;
	box-shadow: 5px 4px 8px rgba(9,30,66,.25);
	transition: opacity .2s ease-in-out;
	width: 100%;
	margin-top: -132px;
}
.opacity-div:hover {
	animation-name: Opacity;
	animation-duration: .3s;
	opacity: 1;
}
.title-bar {
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 24px;
	display: flex;
}
.common-title-img {
	float: left;
	height: 64px;
	width: 64px;
	line-height: 64px;
	align-items: center;
	background-color: #dfe1e6;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-flex;
}
.common-title {
	float: left;
	flex-direction: column;
	justify-content: center;
	margin-left: 16px;
}
.common-title h1 {
	color: #172b4d;
	font-size: 24px !important;
	font-weight: 600;
	letter-spacing: -.01em;
	line-height: 28px;
	margin-top: 0;
	margin-bottom: 0;
}
.common-title span {
	color: #172b4d;
	font-size: 14px !important;
	font-weight: 400;
	line-height: 20px !important;
}
.common-title >:last-child {
	margin-top: 5px;
	font-size: 12px;
	color: #5e6c84;
	display: flex;
}
.common-tie-icon {
	height: 20px;
	font-size: 16px;
	line-height: 20px;
	width: 20px;
}
.common-title-link {
	padding: unset !important;
	font-size: 12px !important;
	color: #172b4d;
}
.common-title-link:hover {
	text-decoration: underline !important;
}
.common-detail {
	margin-bottom: 52px;
}
.common-detail h1 {
	color: #172b4d;
	font-size: 20px !important;
	font-weight: 600;
	letter-spacing: -.008em;
	line-height: 24px;
	margin-bottom: 8px;
	margin-top: 0;
}
.view-template-btn {
	padding: 10px 18px !important;
	white-space: nowrap;
	border-radius: 3px;
	cursor: pointer;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
	font-size: 14px !important;
	font-weight: 400;
	line-height: 20px;
	outline: 0;
	text-decoration: none;
	background-color: #5aac44;
	box-shadow: none;
	border: none;
	color: #fff;
	display: table !important;
}
.common-detail p {
	margin: 0 0 8px;
	font-size: 14px !important;
	line-height: 20px;
	font-weight: 400;
}



@keyframes Opacity {
	0% {opacity: 0;}
	100% {opacity: 1;}
}