.Navbar {
	padding: 1rem;
	position: fixed !important;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
	transform: all 1s;
}
.sign-area {
	float: right;
}
.sign-area a {
	cursor: pointer;
	padding: .25rem .5rem;
	padding-top: .5rem;
	font-size: 1.09375rem;
	line-height: 1.5;
	border-radius: .2rem;
	font-weight: 500 !important;
}
.LogIn {
	color: #fff !important;
	margin-right: .25rem;
}
.LogIn:hover {
	text-decoration: underline !important;

}
.SignUp {
	background-color: #fff;
	color: #0079BF !important;
}
.logo {
	cursor: pointer;
}