.create-board-modal-header {
	background-color: transparent;
	border: none;
	width: auto;
	display: flex;
}
.create-board-title {
	background: url('../../../../trello-images/trello-theme-img/theme.jpg');
	background-size: cover !important;
	background-position: 50% !important;
	background-color: #fff;
	box-sizing: border-box;
	height: 96px;
	margin: 0;
	padding: 10px 10px 10px 16px;
	position: relative;
	width: 296px;
	border-radius: 3px;	
}
.create-board-title input {
	position: relative;
	background: transparent;
	border: none;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	margin: 0;
	min-height: 0;
	outline: 0;
	left: -8px;
	padding: 2px 8px;
}
.create-board-title input:focus {
	background: hsla(0,0%,100%,.3);
	border-radius: 3px;
}
.create-board-title input:hover {
	    background: hsla(0,0%,100%,.15);
	    border-radius: 3px;
}
.create-board-title::before {
	background: rgba(0,0,0,.15);
    background-color: rgba(0, 0, 0, 0.15);
	position: absolute;
	bottom: 0;
	content: "";
	display: block;
	left: 0;
	right: 0;
	top: 0;
	background-color: rgba(0,0,0,.4);
	border-radius: 3px;
}
.close-btn {
	float: right;
	position: relative;
	right: -2px;
	top: -2px;
	z-index: 2;
	background: transparent;
	border: none;
	color: white;
	font-weight: 100;
}
.select-btn {
	position: relative;
	align-items: center;
	background: transparent;
	color: #fff;
	display: flex;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	min-height: 0;
	padding: 2px 8px;
	text-align: left;
	border: none;
	border-radius: 3px;
}
.select-btn:focus {
	background: hsla(0,0%,100%,.3);
	border-radius: 3px;
	outline: none;
}
.select-btn:hover {
    background: hsla(0,0%,100%,.15);
    border-radius: 3px;
}
.icon-sm {
	position: relative;
	height: 20px;
	font-size: 16px;
	line-height: 20px;
	width: 20px;
	text-align: center;
	margin: 0 4px;
}
.theme-area {
	list-style: none;
	padding-left: 0;
	height: 96px;
	margin-left: 8px;
	width: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 5px;
}
.background-grid-item {
	height: 28px;
	width: 28px;
	margin-bottom: 6px;
}
.theme-btn {
	background-color: #fff;
	background-position: 50% !important;
	background-size: cover !important;
	box-shadow: none;
	width: inherit;
	border: none;
	border-radius: 3px;
	display: list-item;
	height: 28px !important;
}
.theme-btn:focus {
	outline: none;
}
.check-icon {
	position: relative;
	font-size: 16px;
}
.check-icon::before {
	position: absolute;
	bottom: 2px;
	left: -5px;
	color: white;
	font-size: 12px;
}
.more-icon {
	position: relative;
	font-size: 16px;
}
.more-icon::before {
	position: absolute;
	bottom: 2px;
	left: -5px;
	color: grey;
	font-size: 12px;
}


/*----------BoardModal--------------*/
.board-modal {
	width: 280px !important;
	position: fixed;
	top: 44px;
	bottom: auto;
	max-height: calc(100% - 48px);
}
.board-modal> :parent {
	opacity: 1;
}
.board-modal> :first-child {
	position: flex;
	top: 40px !important;
	transition: none !important;
	overflow: hidden !important;
	display: flex !important;
	background: transparent;

}
.board-modal-body {
	margin: 8px 4px 8px 8px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0 !important;
}
.search {
	margin: 1px 1px 8px;
	width: 98%;
	background-color: #fafbfc;
	border: none;
	box-shadow: inset 0 0 0 2px #dfe1e6;
	color:#172b4d;
	box-sizing: border-box;
	-webkit-appearance: none;
	border-radius: 3px;
	display: block;
	line-height: 20px;
	margin-bottom: 12px;
	padding: 8px 12px;
	transition-property: background-color,border-color,box-shadow;
	transition-duration: 85ms;
	transition-timing-function: ease;
}
.search:focus {
	background: #fff;
	border: none;
	box-shadow: inset 0 0 0 2px #0079bf;
}
.search:hover {
	background-color: #ebecf0;
	border: none;
	box-shadow: inset 0 0 0 2px #dfe1e6;
}