.boards-modal {
	position: fixed;
	top: 44px;
	bottom: auto;
	height: calc(100% - 48px);
	width: 280px;
	z-index: 20;
	box-shadow: 0 12px 24px -6px rgba(9,30,66,.25),0 0 0 1px rgba(9,30,66,.08);
	border-radius: 3px;
	background-color: #fff;
	-webkit-transform: translateZ(0);
	padding: 8px 4px 8px 8px;
	overflow-x: hidden;
	overflow-y: auto;
}
.boards-modal span {
	font-size: 14px;
	color: black;
}
.search-boards {
	margin: 1px 1px 8px;
	width: 98%;
	background-color: #fafbfc;
	border: none;
	box-shadow: inset 0 0 0 2px #dfe1e6;
	color: #172b4d;
	box-sizing: border-box;
	-webkit-appearance: none;
	border-radius: 3px;
	display: block;
	line-height: 20px;
	padding: 8px 12px;
	transition-property: background-color,border-color,box-shadow;
	transition-duration: 85ms;
	transition-timing-function: ease;
	font-size: 14px;
}
.search-boards:focus {
	background: #fff;
	border: none;
	box-shadow: inset 0 0 0 2px #0079bf;
}
.search-boards:hover {
	background-color: #ebecf0;
	border: none;
	box-shadow: inset 0 0 0 2px #dfe1e6;
}
.boards-title {
	min-height: 20px;
	position: relative;
	display: flex;
	text-transform: uppercase;
	line-height: 19px;
	margin: 16px 0 8px;
}
.each-area {
	margin: 8px 0;
}
.boards-title h3 {
	color: #5e6c84;
	font-size: 12px !important;
	font-weight: 500;
	letter-spacing: .04em;
}
.board-title-icon,
.board-title-right-icon {
	color: #5e6c84;
	font-size: 12px !important;
	font-weight: 500 !important;
	display: inline-block !important;
	height: 20px;
	margin-right: 4px;
	width: 20px;
}
.board-title-plus-icon {
	color: #5e6c84;
	font-size: 12px !important;
	font-weight: bold !important;
	display: inline-block !important;
	height: 20px;
	margin-right: 4px;
	width: 20px;
}
.board-title-plus-icon:before {
	position: absolute;
	right: 12px;
	top: 13px;
}
.board-title-right-icon::before {
	position: absolute;
	right: 11px;
	top: 8px
}
.plus-minus-btn {
	position: absolute;
	top: -15px;
	right: 0;
	border-radius: 3px;
	margin: 0;
	padding: 6px 5px 6px 6px;
	background: transparent;
	outline: none;
	cursor: pointer;
	border: none;
	margin-right: 4px;
}
.plus-minus-btn:focus {
	outline: none;
}
.plus-minus-btn:hover {
	background-color: rgba(9,30,66,.08);
}
.link-board {
	/*z-index: 10;*/
	background-size: cover;
	background-position: 50%;
	width: 100%;
	height: 36px;
	opacity: .3;
	border-radius: 3px !important;
	padding: unset !important;
}
.link-panel {
	position: relative;
	box-sizing: border-box;
	border-radius: 3px;
	margin: 0 4px 4px 0;
	min-width: 0;
	cursor: pointer;
}
.link-panel:hover .link-board {
	transform: none;
	opacity: .5;
}
.link-panel:hover .board-img {
	transform: none;
	opacity: 1;
}
.link-panel span {
	position: absolute;
	top: 0;
	left: 36px;
	width: 100%;
	padding: 9px 0 9px 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 700;
	font-size: 14px !important;
	line-height: 20px !important;
}
.board-img {
	display: inline-block;
	flex: 0 0 auto;
	background-size: cover;
	border-radius: 3px 0 0 3px;
	height: 36px;
	width: 36px;
	position: absolute;
	top: 0;
	opacity: .7;
	z-index: 10;
}
.board-icon {
	color: yellow;
	position: absolute;
	right: 10px;
	top: 12px;
	font-size: 14px !important;
	font-weight: 500 !important;
}
.other-link {
	box-shadow: none;
	color: #5e6c84 ;
	text-align: left;
	padding: 6px 10px;
	text-decoration: underline;
	margin: 2px 4px 2px 2px;
	line-height: 20px;
	width: 100%;
	font-weight: 400;
}
.other-link:hover {
	border: none;
	box-shadow: none;
	background-color: rgba(9,30,66,.08);
	color: #172b4d;
}
.starred-empty {
	display: block;
	margin-top: 8px;
	margin-bottom: 4px;
	overflow: hidden;
	color: #7a869a;
	padding: 16px 30px 10px 31px;
	font-size: 14px !important;
}